body{
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
    font-weight: bold;
}

div{
    box-sizing: border-box;
}


input,
button{
    outline: none;
    box-sizing: border-box;
    border: none;
}

